In [1]:
import yfinance as yf

In [2]:
ticker='AAPL'

In [6]:
df = yf.Ticker(ticker).history(period='1d',interval='5m').reset_index()
df

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-11-17 09:30:00-05:00,373.609985,374.369995,372.399994,372.600006,3554650,0.0,0.0
1,2023-11-17 09:35:00-05:00,372.595001,372.600006,371.380005,371.750000,757861,0.0,0.0
2,2023-11-17 09:40:00-05:00,371.739990,372.183411,371.149994,371.350006,561514,0.0,0.0
3,2023-11-17 09:45:00-05:00,371.345001,371.890015,371.140015,371.469391,458839,0.0,0.0
4,2023-11-17 09:50:00-05:00,371.470001,372.109985,371.269989,371.301605,590404,0.0,0.0
...,...,...,...,...,...,...,...,...
73,2023-11-17 15:35:00-05:00,368.484985,369.899994,367.679993,367.720001,1366427,0.0,0.0
74,2023-11-17 15:40:00-05:00,367.730011,369.260010,367.000000,368.329987,1448818,0.0,0.0
75,2023-11-17 15:45:00-05:00,368.339996,368.850006,367.300110,367.964996,1255018,0.0,0.0
76,2023-11-17 15:50:00-05:00,368.019989,369.868286,368.000000,369.868286,1677300,0.0,0.0
77,2023-11-17 15:55:00-05:00,369.845001,370.369995,369.510010,369.920013,3331767,0.0,0.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Datetime      78 non-null     datetime64[ns, America/New_York]
 1   Open          78 non-null     float64
 2   High          78 non-null     float64
 3   Low           78 non-null     float64
 4   Close         78 non-null     float64
 5   Volume        78 non-null     int64
 6   Dividends     78 non-null     float64
 7   Stock Splits  78 non-null     float64
dtypes: datetime64[ns, America/New_York](1), float64(6), int64(1)
memory usage: 5.0 KB